#root {
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  height: 100%;
  width: 100%;
}