@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap');

:root {
  --color-bg: rgb(22, 22, 22);
  --color-bg-accent: rgb(36, 36, 36);
  --color-text: rgb(246, 246, 246);
  --color-primary: #06B6D4;
  --color-accent: rgb(57, 57, 57);

  --font-quicksand: 'Quicksand';
  --font-lato: 'Lato';

  font-size: clamp(12px, 1.5dvw, 16px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-quicksand), sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: var(--color-bg);
  background-image: radial-gradient(circle at top left, var(--color-bg-accent), var(--color-bg));
  background-repeat: no-repeat;
  color: var(--color-text);
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: unset;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
}

.button {
  border: none;
  background-color: transparent;
  color: var(--color-primary);
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 0.05rem;
  text-underline-offset: 1rem;
  transition: all 0.2s ease-in-out;

  &:hover {
  text-underline-offset: 0.5rem;
    text-decoration-color: var(--color-primary);
  }
}
